@media screen and (min-width:780px) {
    .cabecalho{
        background: none;
    }
    .cabecalho_nav ul {
        flex-direction: row;
        position: sticky;
        width: 100%;
        height: 0px;
        padding: 10px;
        background:none;
        gap: 40px;
        transform: none;
        list-style: none;

    }
    .light .cabecalho_nav ul, .light .cabecalho {
        background: none;
    }
    
  

    .cabecalho_nav ul a {
        padding: 10px;
    }

    .menu_area {
        display: none;
    }

    .apresentacao_conteudo {
        margin-left: 10%;

    }

    .apresentacao_titulo {
        font-size: 3.5em;
    }

    .apresentacao_texto {
        font-size: 2em;

    }

    .apresentacao_button {
        width: 280px;
        padding: 20px;
        border-radius: 16px;


    }

    /* Estilos da seção sobre mim */

    .sobre-mim {
        flex-direction: row;
        height: 100vh;
    }

    .sobre-mim_conteudo {
        max-width: 600px;

    }

    .sobre-mim_titulo {
        font-size: 4em;
    }

    .sobre-mim_texto {
        font-size: 2em;
    }

    .sobre-mim img {
        display: block;
        width: 380px;
    }

    /*estilos da seção de Habilidades*/
    .habilidades_titulo,
    .projetos_section_titulo {
        font-size: 2.0em;

    }
    .comentarios{
        width: 100%;
    }

    .projetos_section {
        padding: 30px;
    }
    
     
      .projeto {
          width: 250px;
          height: 220px;
    
      }
    
      .carousel {
          height: 700px;
          perspective: 1200px;
      }
    
      .scroll-btn {
          font-size: 3.5rem;
          padding: 10px;
      }
    

}
